@using WebBanNuoc.Models.Home;
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>

            </tr>
        </thead>
        <tbody>
            @{
                int Total = 0;
            }
            @foreach (Item item in (List<Item>)Session["cart"])
            {
                int lineTotal = Convert.ToInt32(item.Quantity * item.Product.Price);
                Total = Convert.ToInt32(@Total + lineTotal);
              

                Session["SesTotal"] = Total;

                <tr>
                    <td>@item.Product.ProductName</td>
                    <td width="200"><img src="~/Content/images/@item.Product.ProductImage" width="150" /></td>
                    <td>@String.Format("{0:0,0}", item.Product.Price) VNĐ</td>
                    <td>@item.Quantity</td>
                    <td>@String.Format("{0:0,0}", lineTotal) VNĐ</td>
                </tr>
            }

            <tr>
                <td colspan="5" class="text-right"><b>Total: @String.Format("{0:0,0}", Total) VNĐ</b></td>

            </tr>
        </tbody>
    </table>
    <a href="@Url.Action("Payment", "Home")" class="btn btn-success">Payment >></a>

}

